log/
prog/
update/
relatorio/custom/
share/images/fundo_caixa.png
share/images/nfe.gif
share/images/caixa/fundo_caixa.png
lib/pango/1.0.0/modules/pango-basic-win32.dll
lib/pango/1.2.0/modules/pango-basic-win32.dll
lib/gtk-2.0/2.2.0/engines/libwimp.dll
config.db
autosystem.key
asupdchk.exe
asupdhlp.exe
*.rar
*.zip
*.log
*.key